<app-menu></app-menu>
<div class="container">
  <div class="row mt-5" *ngIf="producto">
    <div class="col-md-4 mx-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
          Detalle
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Nombre: </b>{{producto.name}}</li>
          <li class="list-group-item"><b>Precio: </b>${{producto.price}}</li>
        </ul>
        <li class="list-group-item">
          <div class="form-group">
            <label for="fecha">Fecha Reserva:</label>
            <input type="text" name="fecha" [(ngModel)]="fecha" placeholder="Fecha reserva: yyyy-mm-dd" class="form-control">
          </div> 
          <div class="form-group">
            <label for="cantidad">Cantidad Libros:</label>
            <input type="text" name="cantidad" [(ngModel)]="cantidad" #newHero placeholder="Cantidad" class="form-control">
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-start">
              <div class="p-2">
                <button class="btn btn-success btn-block" (click)="addHero(newHero.value)">
                  Calcular Total
                </button>
              </div>
            </div>
          </div>
          <h5>Valor total: ${{ valueTotal }}</h5>
        </li>
        <div class="card-footer">
          <button class="btn btn-outline-success btn-block" (click)="onCreate()">
            <i class="fas fa-plus-circle"></i>Pagar</button>
          <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
              class="fas fa-arrow-alt-circle-left"></i> Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>