<app-menu></app-menu>
<div class="container" *ngIf="producto">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <input type="text" name="nombre" [(ngModel)]="producto.name" placeholder="Nombre" class="form-control"
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="autor" [(ngModel)]="producto.autor" placeholder="Autor" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="categoria" [(ngModel)]="producto.category" placeholder="Categoría"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Cantidad:</label>
                    <input type="text" name="cantidad" [(ngModel)]="producto.disponibility" placeholder="Cantidad"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Precio Unidad:</label>
                    <input type="text" name="precio" [(ngModel)]="producto.price" placeholder="Precio" class="form-control">
                </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/lista">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>