<app-menu></app-menu>
<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoría</th>
        <th scope="col">Cantidad disponible</th>
        <th scope="col">Costo reserva</th>
        <th scope="col">Ver</th>
        <th scope="col" *ngIf="isAdmin">Editar</th>
        <th scope="col" *ngIf="isAdmin">Borrar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.name }}</td>
        <td>{{ producto.autor }}</td>
        <td>{{ producto.category }}</td>
        <td>
          <span class="badge badge-pill badge-success" style="font-size: 14px;">disponibles {{ producto.disponibility }}</span>
        </td>
        <td>${{ producto.price }}</td>
        <td><button class="btn btn-outline-primary" routerLink="/detalle/{{producto.id}}"><i class="far fa-eye"></i>
            Ver</button></td>
        <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i
              class="far fa-edit"></i> Editar</button></td>
        <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(producto.id)"><i
              class="far fa-trash-alt"></i> Eliminar</button></td>
      </tr>
    </tbody>
  </table>
  <div class="mt-3" *ngIf="isAdmin">
    <button class="btn btn-outline-success btn-lg" routerLink="/nuevo">
      <i class="fas fa-plus-circle"></i> Nuevo Producto</button>
  </div>

  <div class="mt-3">
    <button class="btn btn-outline-primary btn-lg" routerLink="/listreserva">
      <i class="far fa-eye"></i> Ver mis reservas</button>
  </div>

</div>