<app-menu></app-menu>
<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total Pago</th>
        <th scope="col">Cantidad Reservada</th>
        <th scope="col">Precio Unidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.name }}</td>
        <td>{{ reserva.fecha }}</td>
        <td>{{ reserva.total }}</td>
        <td>{{ reserva.disponibility }}</td>
        <td>${{ reserva.price }}</td>
      </tr>
    </tbody>
  </table>
</div>